[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sindhurajesh
[access "refs/for/refs/*"]
	read = group user/sindhurajesh
	push = group user/sindhurajesh
	label-Code-Review = -2..+2 group user/sindhurajesh
	label-Verified = -1..+1 group user/sindhurajesh
	rebase = group user/sindhurajesh
	removeReviewer = group user/sindhurajesh
	submit = group user/sindhurajesh
[access "refs/heads/*"]
	read = group user/sindhurajesh
	create = group user/sindhurajesh
	push = +force group user/sindhurajesh
	pushMerge = group user/sindhurajesh
[access "refs/tags/*"]
	push = +force group user/sindhurajesh
	pushTag = group user/sindhurajesh
	pushSignedTag = group user/sindhurajesh
